.avatar {
  grid-column-start: 1;
  grid-area: avatar;
}

.avatar__jacques-cousteau {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar__picture {
  border-radius: 50%;
}

@media screen and (max-width: 1014px) {
  .avatar {
    grid-area: avatar;
  }
}
