.card {
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 25px 15px 31px 21px;
  border-radius: 0 0 10px 10px;
}

.card__title {
  max-width: 220px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.card__like-button {
  background: transparent;
  border: none;
  display: flex;
  padding: 0;
}

.card__button {
  width: 21px;
  height: 18px;
}

.card__button:hover {
  opacity: 0.5;
  cursor: pointer;
}
