.footer {
  width: 880px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
}

.footer__copyright {
  margin: 67px 0 0;
  padding: 0;
  color: #545454;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 1258px) {
  .footer {
    width: 582px;
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 777px) {
  .footer {
    width: 282px;
    margin: 0 auto 36px;
  }
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    margin-top: 48px;
  }
}
