.footer__copyright {
  margin: 67px 0 0;
  padding: 0;
  color: #545454;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 2000px) {
  .footer {
    max-width: 880px;
    margin-right: auto;
    margin-left: auto;
  }
}

/* @media screen and (max-width: 1291px) {
  .footer {
    width: 582px;
    height: 16px;
  }
} */

@media screen and (max-width: 1258px) {
  .footer {
    width: 582px;
    height: 16px;
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 777px) {
  .footer {
    width: 282px;
    height: 14px;
    margin: 0 auto 36px;
  }
  .footer__copyright {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}
