.form {
  background-color: white;
  margin-top: 0;
  margin-left: 36px;
  margin-right: 36px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  position: relative;
}

.form__input {
  margin-bottom: 5px;
  padding-bottom: 13px; 
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  border-style: none none solid none;
  border-bottom-width: 1px;
}

.form__input_type_error {
  border-bottom-color: red;
}

.form__input-error {
  font-size: 12px;
  color: red;
  opacity: 0;
  transition: all 0.3s ease 0s;
}

.form__input-error_active {
  opacity: 1;
}

.form__submit {
  padding: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  border: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 36.51px;
}

.form__submit_inactive {
  opacity: 0.2;
}

.form__submit_inactive:hover {
  opacity: 0.2;
  cursor: default;
}

.edit-prof-name-error {
  margin-bottom: 13px;
}

.edit-prof-desc-error {
  margin-bottom: 31px;
}

.edit-new-item-title-error {
  margin-bottom: 13px;
}

.edit-new-item-image-error {
  margin-bottom: 31px;
}

.form-title {
  margin-bottom: 54px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin-top: 34px;  
}

/* START: One card per row */
@media screen and (max-width: 778px) {
}
/* END: One card per row */
