.gallery {
  width: 100%;
  max-width: calc(100% - 400px);
  box-sizing: border-box;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  font-family: "Inter", Arial, sans-serif;
  padding: 15px 0 36px;
}

.gallery__cards {
  /*  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  grid-gap: 20px 18px;
  list-style-type: none;
  margin: 0;
  padding: 0; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  justify-content: center;
  grid-gap: 20px 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 2000px) {
  .gallery {
    max-width: 880px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
  }
}

@media screen and (max-width: 1258px) {
  .gallery {
    margin-right: auto;
    margin-left: auto;
    max-width: calc(100% - 400px);
    padding: 0;
  }
}

@media screen and (max-width: 1070px) {
  .gallery {
    margin-right: auto;
    margin-left: auto;
    max-width: calc(100% - 200px);
    padding: 0;
  }
}
