.header {
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
  margin-top: 45px;
  width: 880px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 41px;
}

.header__logo {
}

@media screen and (max-width: 1258px) {
  .header {
    margin-right: 25px;
    margin-left: 25px;
    max-width: 100%;
    width: calc(100% - 50px);
    padding-bottom: 0;
  }
}

@media screen and (max-width: 900px) {
  .header {
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 778px) {
  .header {
    padding-top: 28px;
    padding-left: 27px;
    padding-bottom: 32px;
    margin: 0;
    width: 100%;
  }
  .header__logo {
    width: 126px;
    height: 24px;
  }
}
