.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);

  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.modal__open {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.5s linear;
}

.modal__close-icon {
  height: 40px;
  width: 40px;
  position: absolute;
  top: -40px;
  right: -80px;
  cursor: pointer;
}

.modal__close-icon:hover {
  opacity: 0.6;
}

.modal__container {
  margin: auto;
  margin-top: 195px;
  width: 430px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.modal__form {
  background-color: white;
  margin-top: 34px;
  margin-left: 36px;
  margin-right: 36px;
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}

.modal__title {
  margin: 0;
  margin-top: 34px;
  text-align: center;
  margin-bottom: 54px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.modal__name {
  margin-bottom: 30px;
  padding-bottom: 13px;
  border-style: none none solid none;
  border-bottom-width: 1px;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
}

.modal__description {
  margin-bottom: 48px;
  padding-bottom: 13px;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  border-style: none none solid none;
  border-bottom-width: 1px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
}

.modal__button {
  padding: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  border: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 36px;
}

.modal__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* START  -  One card per row */
@media screen and (max-width: 778px) {
  .modal__container {
    margin-top: 123px;
    width: 282px;
  }
  .modal__form {
    margin-left: 22px;
    margin-right: 22px;
  }
  .modal__title {
    text-align: start;
    height: 22px;
    margin-bottom: 75px;
    margin-top: 25px;
  }
  .modal__description {
    margin-bottom: 45px;
  }
  .modal__button {
    height: 46px;
    margin-bottom: 36px;
  }
  .modal__close_icon {
    height: 26px;
    width: 26px;
    right: -25px;
  }
}
/* END  -  One card per row */
