.new-item-modal {
}

.modal__open {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.5s linear;
}

.new-item-modal__container {
  margin: auto;
  margin-top: 195px;
  width: 430px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.new-item-modal__form {
}

.new-item-modal__header {
  text-align: left;
}

.new-item-modal__title {
}

.new-item-modal__image-link {
}

.new-item-modal__button {
}

.new-item-modal__button:hover:not(:disabled) {
  cursor: pointer;
}

.new-item-modal__close-icon {
  height: 40px;
  width: 40px;
  position: absolute;
  top: -40px;
  right: -80px;
  cursor: pointer;
}

.new-item-modal__close-icon:hover {
  opacity: 0.6;
}

/* START: One card per row */
@media screen and (max-width: 778px) {
  .new-item-modal__container {
    margin-top: 123px;
    width: 282px;
  }
  .new-item-modal__form {
    margin-left: 22px;
    margin-right: 22px;
  }
  .new-item-modal__header {
    text-align: start;
    height: 22px;
    margin-bottom: 76px;
    margin-top: 25px;
  }
  .new-item-modal__title {
    padding-bottom: 9px;
  }
  .new-item-modal__image-link {
    margin-bottom: 5px;
    padding-bottom: 9px;
  }
  .new-item-modal__button {
    height: 46px;
    margin-bottom: 25px;
  }
  .new-item-modal__close-icon {
    height: 26px;
    width: 26px;
    right: -25px;
  }
}
/* END: One card per row */
