.page {
  background: #000;
}

.page__content {
  background-color: black;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

.page__selection {
  width: 100%;
  max-width: calc(100% - 400px);
  box-sizing: border-box;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 1100px) {
  .page__selection {
    margin: 0;
    max-width: calc(100% - 40px);
  }
}
