.change-avatar-form {
}

.change-avatar-form__container {
  margin: auto;
  margin-top: 195px;
  width: 430px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.change-avatar-form__title {
  margin-bottom: 54px;
  margin-top: 34px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.change-avatar-form__link {
  margin-bottom: 48px;
}

.change-avatar-form__button {
  margin-bottom: 36px;
}

.change-avatar-form__close-icon {
  height: 40px;
  width: 40px;
  position: absolute;
  top: -40px;
  right: -80px;
  cursor: pointer;
}
