.profile {
  display: grid;
  grid-template-columns: 120px 30px 1fr 150px;
  grid-template-rows: 100%;
  margin-top: 40px;
  grid-template-areas: "avatar . profile-info button";
  max-width: 880px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 47.5px;
}

.profile__avatar {
  grid-column-start: 1;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.profile__avatar-edit-container {
  display: flex;
  position: absolute;
  height: 120px;
  width: 120px;
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
  opacity: 0;
  transition: ease-in-out 0.3s;
  background-color: rgba(0, 0, 0, 0.825);
}

.profile__avatar-edit-container:hover {
  opacity: 0.6;
}

.profile-info__avatar-hover-button {
  border: 0;
  padding: 0;
  width: 26px;
  height: 26px;
  margin: auto;
  background: transparent;
}

.profile-info__avatar-hover-image {
  background: transparent url(../images/edit-button.svg) center no-repeat;
  margin: auto;
  height: 26px;
  width: 26px;
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  transition: ease-in-out 0.3s;
  background-color: rgba(0, 0, 0, 0.825);
  opacity: 1;
  cursor: pointer;
}

.profile-info__avatar-hover-image:hover {
}

@media screen and (max-width: 900px) {
  .profile {
    margin-right: 10px;
    margin-left: 10px;
    max-width: 100%;
  }
}

@media screen and (max-width: 777px) {
  .profile {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .profile__avatar {
    margin-top: 38.5px;
    margin-right: auto;
    margin-left: auto;
  }
}
