.profile {
  display: grid;
  grid-template-columns: 120px 30px 1fr 150px;
  grid-template-rows: 100%;
  margin-top: 40px;
  grid-template-areas: "avatar . profile-info button";
  max-width: 880px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 47.5px;
}

.profile__avatar {
  grid-column-start: 1;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

@media screen and (max-width: 900px) {
  .profile {
    margin-right: 10px;
    margin-left: 10px;
    max-width: 100%;
  }
}

@media screen and (max-width: 777px) {
  .profile {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .profile__avatar {
    margin-top: 38.5px;
    margin-right: auto;
    margin-left: auto;
  }
}
